{% extends 'libman/base.html' %}
{% load static %}
<title>{% block title %} View Faculty {% endblock %}</title>
{% block b_main %}
<br>
<br>`
<div style="padding-left: 30px;">
    <button style="background-color: #6d214f;color: white;border-radius: 10%;width: 170px;height: 50px;"
        onclick="window.location.href = '{% url 'add_faculty' %}';">Add Faculty</button>
</div>
<br>
<br>
<br>
<br>
<div class="dropdown" style="padding-left: 909px;">
    <button type="button" class="dropdown-toggle"
        style="background-color: #6d214f;color: white;border-radius: 10%;width: 170px;height: 50px;"
        data-toggle="dropdown">
        Sort
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'order_faculty_facId' %}">Faculty Id</a>
        <a class="dropdown-item" href="{% url 'order_faculty_facFname' %}">Faculty Name</a>

    </div>
</div>
<br>
<br>
<br>
<br>
{% if faculties %}
<table class="layout">
    <thead>
        <th>Faculty ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone no.</th>
        <th>Email</th>
    </thead>
    {% for faculty in faculties %}
    <tr>
        <td> {{ faculty.fac_id }}</td>
        <td>{{ faculty.Fname }}</td>
        <td>{{ faculty.Lname }}</td>
        <td>{{ faculty.Address }}</td>
        <td>{{ faculty.phone }}</td>
        <td>{{ faculty.email }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p style="padding-left: 30px;"> There are no faculties registered yet! </p>
{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}